.artist-event-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-40);

    &:not(:last-child) {
        margin-bottom: var(--spacing-50);
    }

    a {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    p {
        margin-bottom: var(--spacing-20) !important;
    }

    &:has(a:hover, a:focus) {
        figure {
            img, svg.feather {
                transform: scale(1.1);
            }
        }
    }

    figure {
        width: 4rem;
        height: 4rem;
        min-width: 4rem;
        min-height: 4rem;
        border-radius: var(--radius-full);
        object-fit: cover;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-neutral-400);

        svg.feather {
            color: var(--color-neutral-500);
            pointer-events: none;
            transition: var(--transition);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: var(--transition);
        }
    }

    header {
        hgroup {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-10);

            p {
                font-size: var(--small);

                &:first-child {
                    font-family: var(--font-barlow);
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: var(--small);
                    margin: 0;
                }
            }
        }
    }

    ul.meta-chips {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-20);
        margin-top: auto;

        li {
            font-size: var(--tiny);
            border-radius: var(--radius-full);
            padding: var(--spacing-10) var(--spacing-20);
            display: flex;
            align-items: center;
            gap: var(--spacing-20);
            border: var(--border);
            border-color: var(--_color);
            background-color: hsl(from var(--_color) h s l / 0.2);
            color: var(--_color);
            transition: var(--transition);
        }
    }
}