.pyrite-button.favorite-button {
    position: absolute;
    inset: var(--spacing-50) var(--spacing-50) auto auto;
    z-index: 2;

    &.is-favorite {       
        svg {
            color: var(--color-teal-600);
            fill: currentColor;
            transition: var(--transition);
        }
    }
}