

.map-wrapper {
    width: 100%;
    height: 100dvh;
    padding-top: 4rem;
    position: relative;
    overflow: hidden;
}

.map-element {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.cluster-icon {
    width: 2rem !important;
    height: 2rem !important;
    aspect-ratio: 1;
    border-radius: 50%;
    color: #1e293b;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.zoom-button, .city-selection-button {
    position: relative;
    z-index: 10;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border: none;
    background-color: var(--color-white);
    color: var(--color-neutral-600);
    border-radius: var(--radius-full);
    padding: var(--spacing-30);
    cursor: pointer !important;
    transition: var(--transition);
    margin: var(--spacing-30) var(--spacing-50) 0 0 !important;

    &:active {
        transform: scale(0.95);
    }
}

.location-marker {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--spacing-50) var(--spacing-50) var(--spacing-50) 0;
        transform: rotate(-45deg);
        background-color: var(--color-teal-600);
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: var(--spacing-20);
        height: var(--spacing-20);
        border-radius: 50%;
        background-color: var(--color-neutral-600);
        z-index: 1;
    }
}

.cluster-icon {
    background-color: var(--color-teal-600);
    color: var(--color-white);
    font-size: var(--small);
    font-weight: bold;
}

.position-marker {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem 1.5rem 1.5rem 0;
        transform: rotate(-45deg);
        background-color: var(--color-purple-600);
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0.3rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #be185d;
        z-index: 1;
        animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

.city-selection-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: transparent;
    z-index: 6000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: var(--transition);

    .city-selection-modal {
        position: relative;
        background-color: var(--color-neutral-600);
        padding: var(--spacing-50);
        border-radius: var(--radius-md);
        transition: var(--transition);
        opacity: 0;
        pointer-events: none;
    }

    &.open {
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: auto;
        backdrop-filter: blur(0.5rem);

        .city-selection-modal {
            opacity: 1;
            pointer-events: auto;
        }
    }
}



header.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-70);
    gap: var(--spacing-40);

    h3 {
        text-wrap: balance;
        font-size: var(--level-5);
        font-family: var(--font-barlow);
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 !important;
    }
}

ul.options {
    position: absolute;
    inset: 100% 0 auto 0;
    translate: 0 var(--spacing-20);
    margin-top: var(--spacing-20);
    z-index: 10000;
    background-color: var(--color-neutral-500);
    border-radius: var(--radius-md);
    overflow: hidden;
    transition: var(--transition);
    pointer-events: none;
    list-style: none;
    opacity: 0;
    padding: var(--spacing-20) 0;
    max-height: 50dvh;
    overflow-y: auto;
    box-shadow: var(--shadow-xl);

    &.open {
        opacity: 1;
        pointer-events: auto;
        translate: 0;
    }

    li {
        button {
            --_background-color: transparent;
            --_color: var(--color-white);

            display: block;
            width: 100%;
            padding: 0.75rem 1.25rem;
            text-align: left;
            color: var(--_color);
            background-color: var(--_background-color);
            border: none;
            cursor: pointer;
            transition: var(--transition);

            &:hover,
            &:focus,
            &.active {
                --_background-color: var(--color-teal-600);
            }
        }
    }
}

.location-modal {
    position: fixed;
    inset: auto 0 4rem 0;
    margin: var(--spacing-40);
    background-color: var(--color-neutral-600);
    border-radius: var(--radius-lg);
    padding: var(--spacing-50);
    overflow-y: auto;
    z-index: 5000;
    transition: var(--transition);
    translate: calc((100% + var(--spacing-40)) * -1) 0;

    @media (min-width: 768px) {
        inset: auto 0 0 0;
    }

    @media (min-width: 992px) {
        inset: 4rem auto 0 0;
        width: var(--content-xs);
        margin: var(--spacing-40);
        margin-right: 0;
        translate: calc((100% + var(--spacing-40)) * -1) 0;
    }

    &.active {
        translate: 0;
    }

    header.modal-header {
        display: flex;
        justify-content: space-between;
        align-items: start;

        h2 {
            font-size: var(--level-4);
            margin-bottom: 0;
        }
    }

    .modal-content {
        padding: 0;

        h3 {
            font-size: var(--level-5);
        }

        .events-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}