.modal {
    --_border-color: var(--color-neutral-500);
    --_background-color: var(--color-neutral-600);
    --_color: var(--color-neutral-100);

    position: fixed;
    z-index: 10000;
    transform: translate(0, 0);
    transition: var(--transition);
    box-shadow: var(--shadow-xl);

    &.top {
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        transform: translateY(-100%);
        height: 100%;
        max-height: 50vh;
        border-bottom: var(--border);
        border-color: var(--_border-color);
    }

    &.bottom {
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        transform: translateY(100%);
        height: 100%;
        max-height: 50vh;
        border-top: var(--border);
        border-color: var(--_border-color);
    }

    &.left {
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        transform: translateX(-100%);
        width: auto;
        max-width: 90vw;
        min-width: 20rem;
        border-right: var(--border);
        border-color: var(--_border-color);
    }

    &.right {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        transform: translateX(100%);
        width: auto;
        max-width: 90vw;
        min-width: 20rem;
        border-left: var(--border);
        border-color: var(--_border-color);
    }

    &.center {
        inset: 0;
        transform: scale(0);
    }

    &.open {
        transform: translate(0, 0) !important;
    }
}

.modal-content {
    background-color: var(--color-neutral-600);
    padding: var(--spacing-50);
    height: 100%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: var(--spacing-40);
}

body {
    &:has(.modal) {
        &::after {
            content: "";
            position: fixed;
            inset: 0;
            background-color: transparent;
            opacity: 1;
            z-index: 9999;
            transition: var(--transition);
            pointer-events: none;
        }
    }
    &:has(.modal.open) {
        overflow: hidden;

        &::after {
            background-color: hsl(from var(--color-black) h s l / 0.8);
            pointer-events: auto;
            backdrop-filter: blur(0.5rem);
        }
    }
}
