--- 
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Page from '../../components/Page.astro';
import Event from '../../components/Event.astro';

import "../../styles/global.css";

import { fetchLocations } from '../../api/server';
import { fetchLocationEvents } from '../../api/server';

export async function getStaticPaths() {
    let locations = await fetchLocations();
    return locations.map((location) => ({
        params: {
            location: location.slug
        },
        props : {
            location: location
        }
    }));
}

const { location } = Astro.props;

const locationEvents = await fetchLocationEvents(location.id);

---

<Layout title={ location.title }>
    <Header />

    <Page>
        <div class="grid size-full grid-cols-1 md:grid-cols-2 gap-6">
            <div class="flex flex-col gap-6">
                <h1 class="text-3xl text-stone-950 font-barlow uppercase font-bold p-6 bg-yellow-400 rounded-3xl">{ location.title }</h1>

                { location.content && 
                    <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl shadow-lg">
                        <h3 class="text-2xl font-barlow font-bold uppercase mb-4">Info</h3>
                        <p>{ location.content }</p>
                    </div> 
                }

                <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl shadow-lg">
                    <h3 class="text-2xl font-barlow font-bold uppercase col-span-full mb-8">Kommende Events</h3>
                    { locationEvents && locationEvents.map((event) => (
                        <Event name={ event.title } slug={ event.slug } date={ event.date } image={ event.featured_media } />
                    ))}
                    </div>
            </div>
            <div class="flex flex-col gap-6">
                <figure class="bg-neutral-200 dark:bg-neutral-800 rounded-3xl shadow-lg overflow-clip aspect-3/2">
                    <img src={ location.featured_media } alt="" class="object-cover object-center" />
                </figure>
            </div>
        </div>
    </Page>
</Layout>