--- 
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Page from '../../components/Page.astro';
import Button from '../../components/Button.astro';
import EventArtists from '../../components/EventArtists.svelte';
import EventLocation from '../../components/EventLocation.svelte';

import * as AstroFeather from 'astro-feather';
import { Image } from 'astro:assets';

import "../../styles/global.css";

import { fetchEventsWithMetaQueries } from '../../api/wordpress';
import { downloadICS } from '../../functions/helpers';

export async function getStaticPaths() {
    let events = await fetchEventsWithMetaQueries();
    return events.map((event) => ({
        params: {
            event: event.slug
        },
        props : {
            event: event
        }
    }));
}

const { event } = Astro.props;

---



<Layout title={ event.title }>
    <Header/>

    { event.featured_media && <Image width="1200" height="800" src={ event.featured_media } alt={ event.title } class="size-full h-full object-cover object-center fixed inset-0 opacity-20 dark:opacity-10 blur-xl -z-10" /> }
    { !event.featured_media && <AstroFeather.ImageIcon customClasses="w-24 h-24 aspect-1 text-neutral-700" /> }

    <Page>
        <div class="grid size-full grid-cols-1 md:grid-cols-2 gap-6">
            <div class="gap-6 contents md:flex flex-col">
                <h1 class="text-3xl text-stone-950 font-barlow uppercase font-bold p-6 bg-yellow-400 rounded-3xl shadow-lg -order-2">{ event.title }</h1>
                <ul class="p-6 bg-neutral-200 dark:bg-neutral-800 rounded-3xl list-none flex gap-4 shadow-lg -order-2"> 
                    <li class="flex flex-col flex-auto gap-1"><span class="font-barlow uppercase text-sm font-bold text-yellow-600 dark:text-yellow-300">Datum</span><span>{ event.date }</span></li>
                    <li class="flex flex-col flex-auto gap-1"><span class="font-barlow uppercase text-sm font-bold text-yellow-600 dark:text-yellow-300">Start</span><span>{ event.start } Uhr</span></li>
                    <li class="flex flex-col flex-auto gap-1"><span class="font-barlow uppercase text-sm font-bold text-yellow-600 dark:text-yellow-300">Einlass</span><span>{ event.doors } Uhr</span></li>
                </ul>
                { event.content && 
                    <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl shadow-lg -order-1">
                        <h3 class="text-2xl font-barlow font-bold uppercase mb-4">Info</h3>
                        <p>{ event.content }</p>
                    </div> 
                }
                <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl shadow-lg -order-1">
                    <h3 class="text-2xl font-barlow font-bold uppercase mb-4">Artists</h3>
                    <EventArtists artists={ event.artists }/>
                </div>

                <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl shadow-lg -order-1">
                    <h3 class="text-2xl font-barlow font-bold uppercase col-span-full mb-8">Location</h3>
                    <EventLocation location={ event.location }/>
                </div>
            </div>
            <div class="gap-6 contents md:flex flex-col">
                <figure class="bg-neutral-200 dark:bg-neutral-800 rounded-3xl overflow-clip aspect-3/2 flex items-center justify-center -order-3 shadow-lg">
                    { event.featured_media && <Image width="600" height="400" src={ event.featured_media } alt={ event.title } class="aspect-3/2 size-full object-cover object-center" /> }
                    { !event.featured_media && <AstroFeather.ImageIcon customClasses="w-24 h-24 aspect-1 text-neutral-700" /> }
                </figure>

                <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl flex gap-4 shadow-lg -order-2">
                    <Button label="Tickets" href={ event.tickets } type="primary" target="_blank"/>
                    <Button label="Kalender" href="/events" type="secondary"/>
                    <Button label="Merken" href="#" type="secondary"/>
                </div>
            </div>
        </div>
    </Page>
</Layout>