--- 
// @ts-nocheck

export const prerender = true;

import Layout from '../../layouts/Layout.astro';
import Page from '../../components/Page.astro';
import Button from '../../components/Button.svelte';
import Buttons from '../../components/Buttons.svelte';
import EventArtists from '../../components/EventArtists.svelte';
import EventLocation from '../../components/EventLocation.svelte';
import FavoriteButton from '../../components/FavoriteButton.svelte';

import { ImageIcon, ShoppingCartIcon } from 'astro-feather';
import { Image } from 'astro:assets';

import "../../styles/global.css";

import { fetchEvents } from '../../api/wordpress';
import { downloadICS, responsiveImageSource } from '../../functions/helpers';

export async function getStaticPaths() {
    let events = await fetchEvents(null, null, [], [], true);

    return events.map((event) => ({
        params: {
            event: event.slug
        },
        props : {
            event: event
        }
    }));
}

const { event } = Astro.props;
---

<Layout 
    title={ event.title }
    description={ event.excerpt }>

    { event.featured_media && <img width="1200" height="800" srcset={responsiveImageSource(event.featured_media)} alt={ event.title } class="page-background-image" /> }

    <Page>
        <div class="page-grid">
            <div class="page-column">
                <h1 class="box is-title">{ event.title }</h1>
                <ul class="box is-meta"> 
                    <li><span>Datum</span><span>{ event.date }</span></li>
                    <li><span>Uhrzeit</span><span>{ event.start } Uhr</span></li>
                    <li><span>Einlass</span><span>{ event.doors } Uhr</span></li>
                </ul>
                { event.content && 
                    <div class="box">
                        <h3>Info</h3>
                        <p>{ event.content }</p>
                    </div> 
                }
                <div class="box">
                    <h3>Artists</h3>
                    <EventArtists artists={ event.artists }/>
                </div>

                <div class="box">
                    <h3>Location</h3>
                    <EventLocation location={ event.location }/>
                </div>
            </div>
            <div class="page-column">
                <figure class="box is-image">
                    { event.featured_media && <img width="600" height="400" srcset={responsiveImageSource(event.featured_media)} alt={ event.title } /> }
                    { !event.featured_media && <ImageIcon /> }
                    
                    <FavoriteButton client:load postId={event.id} />
                </figure>

                <div class="box">
                    <Buttons direction="row" align="center" justify="start">
                        <Button customClasses={['flex-1']} label="Tickets" type="primary" interaction={ {type: 'link', target: event.tickets, external: true} } icon={ {name: "ShoppingCartIcon"} } />
                        <Button label="Kalender" type="secondary" icon={ {name: 'CalendarIcon', only: true} }/>
                    </Buttons>
                </div>
            </div>
        </div>
    </Page>
</Layout>