@import 'air-datepicker/air-datepicker.css';

.air-datepicker {
    --adp-font-family: var(--font-sans);
    --adp-font-size: var(--text-sm);
    --adp-width: var(--container-sm);
    --adp-z-index: 10001;
    --adp-padding: var(--spacing);
    --adp-grid-areas: "nav" "body" "timepicker" "buttons";
    --adp-transition-duration: var(--default-transition-duration);
    --adp-transition-ease: var(--default-transition-timing-function);
    --adp-transition-offset: 8px;
    --adp-background-color: var(--color-neutral-800);
    --adp-background-color-hover: var(--color-neutral-700);
    --adp-background-color-active: var(--adp-background-color);
    --adp-background-color-in-range: rgba(92, 196, 239, .1);
    --adp-background-color-in-range-focused: var(--adp-accent-color);
    --adp-background-color-selected-other-month-focused: var(--adp-accent-color);
    --adp-background-color-selected-other-month: var(--adp-accent-color);
    --adp-color: var(--color-white);
    --adp-color-secondary: var(--color-neutral-600);
    --adp-accent-color: var(--color-indigo-300);
    --adp-color-current-date: var(--adp-accent-color);
    --adp-color-other-month: var(--adp-color-secondary);
    --adp-color-disabled: var(--adp-color-secondary);
    --adp-color-disabled-in-range: var(--adp-color-secondary);
    --adp-color-other-month-hover: var(--adp-color);
    --adp-border-color: var(--color-neutral-600);
    --adp-border-color-inner: var(--adp-border-color);
    --adp-border-radius: var(--radius-lg);
    --adp-border-color-inline: var(--adp-border-color);
    --adp-nav-height: calc(var(--spacing) * 8);
    --adp-nav-arrow-color: var(--adp-color-secondary);
    --adp-nav-action-size: calc(var(--spacing) * 8);
    --adp-nav-color-secondary: var(--adp-color-secondary);
    --adp-day-name-color: var(--adp-accent-color);
    --adp-day-name-color-hover: var(--color-indigo-500);
    --adp-day-cell-width: 1fr;
    --adp-day-cell-height: calc(var(--spacing) * 12);
    --adp-month-cell-height: calc(var(--spacing) * 14);
    --adp-year-cell-height: calc(var(--spacing) * 16);
    --adp-pointer-size: calc(var(--spacing) * 3);
    --adp-poiner-border-radius: 2px;
    --adp-pointer-offset: 14px;
    --adp-cell-border-radius: var(--radius-xl);
    --adp-cell-background-color-hover: var(--adp-background-color-hover);
    --adp-cell-background-color-selected: var(--adp-accent-color);
    --adp-cell-background-color-selected-hover: var(--color-indigo-500);
    --adp-cell-background-color-in-range: color-mix(in oklab, var(--color-indigo-300) 20%, transparent);
    --adp-cell-background-color-in-range-hover: color-mix(in oklab, var(--color-indigo-300) 40%, transparent);
    --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
    --adp-btn-height: calc(var(--spacing) * 12);
    --adp-btn-color: var(--adp-accent-color);
    --adp-btn-color-hover: var(--adp-color);
    --adp-btn-border-radius: var(--adp-border-radius);
    --adp-btn-background-color-hover: var(--adp-background-color-hover);
    --adp-btn-background-color-active: var(--adp-background-color-active);
    --adp-time-track-height: 1px;
    --adp-time-track-color: var(--adp-color-secondary);
    --adp-time-track-color-hover: var(--adp-color);
    --adp-time-thumb-size: 12px;
    --adp-time-padding-inner: 10px;
    --adp-time-day-period-color: var(--adp-color-secondary);
    --adp-mobile-font-size: 16px;
    --adp-mobile-nav-height: calc(var(--spacing) * 12);
    --adp-mobile-width: min(calc(9 / 10 * 100%), var(--container-sm));
    --adp-mobile-day-cell-height: calc(var(--spacing) * 12);
    --adp-mobile-month-cell-height: calc(var(--spacing) * 14);
    --adp-mobile-year-cell-height: calc(var(--spacing) * 16);
}

.air-datepicker-overlay {
    --adp-overlay-background-color: rgba(0, 0, 0, .8);
    --adp-overlay-transition-duration: var(--default-transition-duration);
    --adp-overlay-transition-ease: var(--default-transition-timing-function);
    --adp-overlay-z-index: 10000;
}

.air-datepicker--pointer::after {
    background-color: var(--adp-background-color);
}