@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
}

@theme {
  --font-sans: Figtree, sans-serif;
  --font-barlow: 'Barlow Condensed', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fade-in {
  scale: 0.8;
  opacity: 0;
  animation: fadeIn ease-out 0.3s forwards;
  -webkit-animation: fadeIn ease-out 0.3s forwards;
  -moz-animation: fadeIn ease-out 0.3s forwards;
  -o-animation: fadeIn ease-out 0.3s forwards;
  -ms-animation: fadeIn ease-out 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}