@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
}

@theme {
  --font-sans: Figtree, sans-serif;
  --font-barlow: 'Barlow Condensed', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fade-in {
  scale: 0.8;
  opacity: 0;
  animation: fadeIn ease-out 0.3s forwards;
  -webkit-animation: fadeIn ease-out 0.3s forwards;
  -moz-animation: fadeIn ease-out 0.3s forwards;
  -o-animation: fadeIn ease-out 0.3s forwards;
  -ms-animation: fadeIn ease-out 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.is--loading {
  position: relative;
  color: var(--color-yellow-300);

  &::after {
    content: "";
    position: absolute;
    inset: 4rem auto auto 50%;
    translate: -50% 0;
    width: 2.5rem;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, currentColor 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
    grid-column: 1 / -1;
    place-self: center;
    transition: all 0.3s ease;
  }
}

@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}