---
import Layout from '../layouts/Layout.astro';
import Page from '../components/Page.astro';
import ForgotPasswordForm from '../components/ForgotPasswordForm.svelte';
---

<Layout title="Passwort zurücksetzen">
  <Page>
    <div class="max-w-md mx-auto">
      <ForgotPasswordForm client:load />
    </div>
  </Page>
</Layout>