--- 
// @ts-nocheck

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Genres from '../components/Genres.astro';
import Cities from '../components/Cities.astro';
import Events from '../components/Events.astro';

import Input from "../components/Input.svelte";

import { SITENAME } from '../functions/theme';
let title = SITENAME;

import Page from '../components/Page.astro';

// import { db, Users } from 'astro:db';
// await db.delete(Users);

// const data = await db.select().from(Users);

// await db.insert(Users).values({ username: 'nicokalka', email: 'kalka.nico@gmail.com', password: '1234' });

// console.log(data);


---

<Layout 
	title="Home"
	description="Dein Event-Planer f체r Core- und Metal-Shows. Entdecke Events in deiner N채he, finde alle Informationen und speichere deine Favoriten.">
	
	<Page>
		<Hero title={ title } copy="Dein Event-Planer f체r Core- und Metal-Shows. Entdecke Events in deiner N채he, finde alle Informationen und speichere deine Favoriten."/>

		<section class="w-full py-16">
			<h2 class="font-barlow text-3xl uppercase font-bold mb-[1em]">Aktuelle Events</h2>
			<Events />
		</section>
		
		<section class="w-full py-16">
			<h2 class="font-barlow text-3xl uppercase font-bold mb-[1em]">Erkunde deine Lieblings-Genres</h2>
			<Genres />
		</section>

		<section class="w-full py-16">
			<h2 class="font-barlow text-3xl uppercase font-bold mb-[1em]">Finde Events in deiner Stadt</h2>
			<Cities />
		</section>
	</Page>	
</Layout>
