---
import Layout from '../layouts/Layout.astro';
import Page from '../components/Page.astro';
import LoginForm from '../components/LoginForm.svelte';

// Prüfen, ob eine Verifikation erfolgreich war
const verified = Astro.url.searchParams.get('verified') === 'true';
---

<Layout title="Login">
  <Page>
    <section class="width-xs">
      {verified && (
        <div class="notification is-success">
          Deine E-Mail wurde erfolgreich bestätigt. Du kannst dich jetzt einloggen.
        </div>
      )}
      <LoginForm client:load />
    </section>
  </Page>
</Layout>