---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
import ProfileCard from "../components/ProfileCard.svelte";
import UserFavorites from "../components/UserFavorites.svelte";
import Calendar from "../components/Calendar.svelte";
---

<Layout title="Mein Profil">
    <Page>
        <section>
            <h1>Mein Profil</h1>

            <ProfileCard client:only />

            <!-- <div class="bg-white dark:bg-neutral-800 p-6 rounded-xl shadow-sm">
              <UserFavorites client:load />
            </div> -->
        </section>
    </Page>
</Layout>
