---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/RegisterForm.svelte';
import Page from '../components/Page.astro';

export const prerender = false;

---

<Layout title="Register">
    <Page>
        <section class="width-xs">
            <RegisterForm client:load/>
        </section>
    </Page>
</Layout>