--- 
// @ts-nocheck

export const prerender = true;

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Page from '../../components/Page.astro';
import ArtistEvent from '../../components/ArtistEvent.svelte';

import { ImageIcon } from 'astro-feather';
import { Image } from 'astro:assets';

import "../../styles/global.css";

import { fetchArtists, fetchArtistEvents } from '../../api/wordpress';

export async function getStaticPaths() {
    let artists = await fetchArtists();
    return artists.map((artist) => ({
        params: {
            artist: artist.slug
        },
        props : {
            artist: artist
        }
    }));
}

const { artist } = Astro.props;
let artistEvents = await fetchArtistEvents(artist.id, true);
---

<Layout 
    title={ artist.title }
    description={ artist.excerpt }>

    <Page>
        <div class="page-grid">
            <div class="page-column">
                <hgroup class="box is-title">
                    <p>Artist</p>
                    <h1>{ artist.title }</h1>
                </hgroup>

                { artist.content && 
                    <div class="box">
                        <h3>Info</h3>
                        <p>{ artist.content }</p>
                    </div> 
                }

                <div class="box">
                    <h3>Kommende Events</h3>
                    { artistEvents && artistEvents.map((event) => (
                        event && <ArtistEvent name={ event.title } slug={ event.slug } date={ event.date } image={ event.featured_media } city={ event.city } />
                    ))}
                </div>
            </div>
            <div class="page-column">
                <figure class="box is-image">
                    { artist.featured_media && <img width="600" height="400" src={ artist.featured_media } alt={ artist.title } /> }
                    { !artist.featured_media && <ImageIcon /> }
                </figure>
            </div>
        </div>
    </Page>
</Layout>