---

import { Image } from 'astro:assets';
import * as AstroFeather from 'astro-feather';

interface Props {
  name: string;
  slug: string;
  date: string;
  image?: string;
}

const { name, slug, date, image } = Astro.props;

---

<article class="relative group flex gap-4 items-center not-last:mb-6">
    <a href={`/event/${slug}`} class="absolute inset-0 z-10"></a>
    <figure class="aspect-1/1 object-cover overflow-clip w-16 min-w-16 rounded-full bg-slate-600 group-hover:scale-110 transition-transform">
        { image && <Image width="48" height="48" class="size-full h-full object-cover object-center" src={ image } alt="" /> }
        { !image && <AstroFeather.CalendarIcon customClasses="w-4 h-4 aspect-1 text-slate-700" /> }
    </figure>
    <div>
        <p class="text-xs pb-1">{ date }</p>
        <p class="font-bold">{ name }</p>
    </div>  
</article>