---
import logo from '../assets/pyrite-logo.svg';

import '../styles/components/Footer.css';

---

<footer class="pyrite-footer">
    <div class="inner">
        <a href="/" class="branding">
            <img src={ logo.src } alt="Pyrite logo" />
        </a>

        <ul class="layout-list is-inline">
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/datenschutz">Datenschutz</a></li>
            <li><a href="/kontakt">Barrierefreiheit</a></li>
        </ul>
    </div>
</footer>