---
import logo from '../assets/pyrite-logo.svg';

---

<footer class="py-4 h-16 flex items-center mt-auto">
    <div class="w-9/10 max-w-6xl mx-auto flex justify-between items-center">
        <a href="/" class="flex items-center mx-6 gap-2">
            <img src={ logo.src } alt="Pyrite logo" class="w-4 h-4 hover:scale-110 transition opacity-30" />
        </a>

        <ul class="flex gap-3 items-center">
            <li><a href="/impressum" class="text-xs">Impressum</a></li>
            <li><a href="/datenschutz" class="text-xs">Datenschutz</a></li>
            <li><a href="/kontakt" class="text-xs">Barrierefreiheit</a></li>
        </ul>
    </div>
</footer>