---

import * as AstroFeather from 'astro-feather';
import { fetchGenres } from './../api/wordpress';

let genres = await fetchGenres();

---

<ul class="flex flex-col sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 lg:gap-6 w-full place-items-stretch">
    {genres && genres.map((genre) => (
        <li class="relative group outline-transparent has-[a:focus-visible]:outline-2 has-[a:focus-visible]:outline-white overflow-clip bg-slate-50 dark:bg-neutral-800 rounded-3xl aspect-2/1 md:aspect-3/2">
            <a href={`/genre/${genre.slug}`} class="p-4 text-lg text-slate-950 dark:text-white font-barlow uppercase font-bold flex flex-col size-full items-start justify-end group-hover:text-indigo-400 transition">{genre.name}</a>
            <AstroFeather.DiscIcon customClasses="absolute -top-2 right-2 w-20 h-20 aspect-1 text-slate-300 group-hover:text-indigo-300 transition pointer-events-none" />
        </li>
    ))}

    <li class="relative group outline-transparent has-[a:focus-visible]:outline-2 has-[a:focus-visible]:outline-white bg-indigo-300 hover:bg-indigo-400 text-slate-950 p-4 rounded-3xl flex flex-col items-start justify-end transition aspect-2/1 md:aspect-3/2">
        <a href="/eventfinder" class="absolute inset-0 z-1 rounded-3xl"></a>
        <p class="text-lg font-barlow uppercase leading-none font-bold">Eventfinder</p>
        <AstroFeather.ArrowRightIcon customClasses="absolute top-4 right-4 w-8 h-8 aspect-1 text-slate-950 transition pointer-events-none" />
    </li>
</ul>