---
import '../styles/components/Hero.css';

export interface props {
  title: string;
  copy?: string;
}

const { title, copy } = Astro.props;

---

<section class="hero hero-bg-animation">
    <h1>{title}</h1>
    {copy && <p>{copy}</p>}
</section>