---

import * as AstroFeather from 'astro-feather';
import { Image } from 'astro:assets';

interface Props {
  name: string;
  slug: string;
  image?: string;
  address: string;
}

const { name, slug, image, address } = Astro.props;

---

<article class="relative group flex items-center gap-4">
    <a class="absolute inset-0 z-10" href={`/location/${slug}`}></a>
    <figure class="aspect-1/1 object-cover overflow-clip w-12 rounded-full bg-slate-600 group-hover:scale-110 transition-transform flex items-center justify-center">
        { image && <Image width="48" height="48" class="size-full h-full object-cover object-center" src={ image } alt="" /> }
        { !image && <AstroFeather.HomeIcon customClasses="w-4 h-4 aspect-1 text-slate-700" /> }
    </figure>
    <div>
        <p class="font-bold">{ name }</p>
        <p class="text-sm">{ address }</p>
    </div>  
</article>