--- 
// @ts-nocheck

import Layout from '../../layouts/Layout.astro';
import Locations from '../../components/Locations.svelte';
import Page from '../../components/Page.astro';

const currentPage = 1;
---

<Layout title="Alle Locations">
    <Page>
        <section>
            <h1>Alle Locations</h1>
            
            <Locations pagination currentPage={currentPage} client:load/>
        </section>
    </Page>
</Layout>