--- 
// @ts-nocheck

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Page from '../../components/Page.astro';
import ArtistEvent from '../../components/ArtistEvent.svelte';

import "../../styles/global.css";

import { fetchGenres, fetchEventById, fetchGenreEvents } from '../../api/wordpress';

export async function getStaticPaths() {
    let genres = await fetchGenres();
    return genres.map((genre) => ({
        params: {
            genre: genre.slug
        },
        props : {
            id: genre.id,
            name: genre.name,
            slug: genre.slug,
            description: genre.description,
            events: genre.events 
        }
    }));
}

const { id, name, slug, description, events = [] } = Astro.props;
let genreEvents = await fetchGenreEvents(id);

---

<Layout title={ name }>
    <Header/>

    <Page>
        <div class="grid size-full grid-cols-1 md:grid-cols-2 gap-6">
            <div class="contents md:flex flex-col gap-6">
                <h1 class="text-3xl text-stone-950 font-barlow uppercase font-bold p-6 bg-yellow-400 rounded-3xl">{ name }</h1>

                <div class="p-6 bg-neutral-200 dark:bg-neutral-800  rounded-3xl">
                    <h3 class="text-2xl font-barlow font-bold uppercase col-span-full mb-8">Kommende Events</h3>
                    { genreEvents && genreEvents.map((event) => (
                        event && <ArtistEvent name={ event.title } slug={ event.slug } date={ event.date } image={ event.featured_media } city={ event.location.city } />
                    ))}
                </div>
            </div>
        </div>
    </Page>
</Layout>   