--- 
// @ts-nocheck

import '@fontsource-variable/figtree';
import '@fontsource/barlow-condensed/400.css';
import '@fontsource/barlow-condensed/700.css';

import '../styles/global.css';

import { SITENAME } from '../functions/theme';

interface Props {
    title?: string;
    description?: string;
}

let { title, description } = Astro.props;
title += " | " + SITENAME;
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{ title }</title>
        <meta name="robots" content="noindex, nofollow" />
        <meta name="description" content={ description } />
        <script>
            function setColorSchemeClass() {
                const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
                
                document.documentElement.classList.toggle('dark', prefersDarkScheme.matches);
            }
            
            setColorSchemeClass();
            
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setColorSchemeClass);
        </script>
    </head>
    <body class="bg-slate-200 dark:bg-neutral-900 text-slate-950 dark:text-white has-[dialog:open]:overflow-hidden min-h-screen flex flex-col after:absolute after:inset-0 after:bg-black/60 after:opacity-0 after:transition-opacity after:z-9999 after:pointer-events-none overflow-x-hidden">
        <slot />
    </body>
</html>

<style>
    body:has([role="dialog"].open) {
        overflow: hidden;

        &::after {
            opacity: 1;
            pointer-events: auto;
        }
    }
</style>