--- 
// @ts-nocheck

import '@fontsource-variable/figtree';
import '@fontsource/barlow-condensed/400.css';
import '@fontsource/barlow-condensed/700.css';

import '../styles/global.css';

import { SITENAME } from '../functions/theme';

interface Props {
	title?: string;
	description?: string;
}

let { title, description } = Astro.props;
title += " | " + SITENAME;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title }</title>
		<meta name="robots" content="noindex, nofollow" />
		<meta name="description" content={ description } />
	</head>
	<body class="bg-white dark:bg-neutral-900 text-stone-950 dark:text-white has-[dialog:open]:overflow-hidden min-h-screen flex flex-col">
		<slot />
	</body>
</html>
