--- 
// @ts-nocheck

import Layout from '../../layouts/Layout.astro';
import Events from '../../components/Events.svelte';
import Page from '../../components/Page.astro';

const currentPage = 1;
---

<Layout title="Alle Events">
    <Page>
        <section class="w-full py-8 md:py-12 xl:py-16">
            <h1 class="text-5xl font-barlow uppercase font-bold mb-[1em]">Alle Events</h1>
            
            <Events pagination currentPage={currentPage} client:load/>
        </section>
    </Page>
</Layout>